<html>
    <head>
            <script src='https://kit.fontawesome.com/a076d05399.js'></script>

        <link rel='stylesheet' href='/css/home.css'>
     <title><%=locals.title%></title>
    </head>
    <body>
        <h1>Contact List</h1>
        <div>
            <ul>
                <% for(let i of contactNo){%>
                    <li class='contact'>
                        <div class='details'>
                        <p><%=i.name%></p>
                        <p><%=i.phone%></p>
                    </div>
                   
                    <div class='delete-button'>
                        <a href='/delete-contact/?id=<%=i._id%>'>
                            <i class='fas fa-expand-arrows-alt' style='color:white'></i>

                        </a>
                    </div>
                </li>
                    
                    <%}%>
            </ul>
        </div>
        <div>
            <form action='/create-contact' method='POST'>
                <input name='name' placeholder='Enter Name' type='text' required>
                <input name='phone' placeholder='Enter Phone' type='number' required>
                <button type='submit'>Add</button>
            </form>
        </div>
    </body>
</html>