.contact{
    display:flex;
    justify-content:space-between;
    background-color: blue;
    color:white;
    text-decoration:none;
    width:50%;
    height:2rem;
    padding:2rem;
    font-size:1.75rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}
.contact:hover{
  background-color:grey;
  transform:scale(1.02);
}